<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Express JS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/lamhotsimamora/jnet@master/dist/js/jnet.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>


                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <br><br><br>
    <div class="container" id="app">
        <hr>
        <button class="btn btn-primary btn-md" data-bs-toggle="modal" data-bs-target="#modal_add">Add</button>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Age</th>
                    <th scope="col">@</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(data,i) in data_users">
                    <th scope="row">{{i=i+1}}</th>
                    <td>{{data.username_}}</td>
                    <td>{{data.email_}}</td>
                    <td>{{data.age}}</td>
                    <td>
                        <button class="btn btn-danger btn-md" @click="deleteData(data.id_user)">x</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">New Data</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Username</span>
                        <input type="text" class="form-control" placeholder="Username" v-model="username" ref="username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Email</span>
                        <input type="text" class="form-control" placeholder="Email" v-model="email" ref="email" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Age</span>
                        <input type="text" class="form-control" placeholder="Age" v-model="age" ref="age" aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" @click="save">Save</button>
                </div>
            </div>
        </div>
    </div>


    <script>
        var app = new Vue({
            el: '#app',
            data: {
                data_users: null
            },
            methods: {
                deleteData: function(id_user) {
                    const $this = this;
                    jnet({
                        url: 'http://localhost:8081/delete-data',
                        method: 'post',
                        data: {
                            token: 'kKKl3NKuXfb6kVg2pp3dcsyWEMjSU0cFbH4cw1xm2pEaJjCe41TP1Ltkfh61fVafm5Ds1Y3jydxMZAOC',
                            id_user: id_user
                        }
                    }).request($response => {
                        let $obj = JSON.parse($response);
                        if ($obj) {
                            alert("Data berhasil dihapus")
                            $this.loadData()
                        }
                    })
                },
                loadData: function() {
                    const $this = this;
                    jnet({
                        url: 'http://localhost:8081/data-users',
                        method: 'post',
                        data: {
                            token: 'kKKl3NKuXfb6kVg2pp3dcsyWEMjSU0cFbH4cw1xm2pEaJjCe41TP1Ltkfh61fVafm5Ds1Y3jydxMZAOC'
                        }
                    }).request($response => {
                        let $obj = JSON.parse($response);
                        if ($obj) {
                            $this.data_users = $obj;
                        }
                    })
                }
            },
            mounted() {
                this.loadData();
            }
        });


        new Vue({
            el: '#modal_add',
            data: {
                username: null,
                email: null,
                age: null
            },
            methods: {
                save: function() {
                    if (this.username == null) {
                        this.$refs.username.focus()
                        return;
                    }
                    if (this.email == null) {
                        this.$refs.email.focus()
                        return;
                    }
                    if (this.age == null) {
                        this.$refs.age.focus()
                        return;
                    }

                    const $this = this;
                    jnet({
                        url: 'http://localhost:8081/add-data',
                        method: 'post',
                        data: {
                            token: 'kKKl3NKuXfb6kVg2pp3dcsyWEMjSU0cFbH4cw1xm2pEaJjCe41TP1Ltkfh61fVafm5Ds1Y3jydxMZAOC',
                            username: this.username,
                            email: this.email,
                            age: this.age
                        }
                    }).request($response => {
                        let $obj = JSON.parse($response);
                        if ($obj) {
                            alert("Data berhasil ditambah")
                            app.loadData()
                            this.username = null,
                                this.email = null,
                                this.age = null
                        }
                    })
                }
            },
            mounted() {

            }
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>

</html>